@import '../../styles/utils/colors';

$backgroundColor: get-theme-color('foreground', 'dark');

:local(.Tag) {
    background: $backgroundColor;
    color: contrast-color($backgroundColor);
    font-family: 'opensans-regular', sans-serif;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

// Sizes
:local(.Tag) {
    &.size {
        &-small {
            font-size: 10px;
            margin: 2px;
            padding: 0 12px;
            height: 17px;
        }

        &-medium {
            font-size: 12px;
            margin: 4px;
            padding: 0 14px;
            height: 25px;
        }
    }
}