@import '../../styles/utils/colors';
@import '../../styles/utils/media-queries';

.SkillGrid {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .groupLabel {
        font-family: 'opensans-semibold', sans-serif;
        font-size: 16px;
        background: none;
        color: contrast-color('light');
        padding: 3px 10px;
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .additionalLabel {
        margin-top: 20px;

        .arrow {
            margin-left: 5px;
            font-size: 20px;
            display: flex;

            & :global(.svgr) {
                transition: transform 100ms ease-in-out;
                transform: rotate(0deg);
                transform-origin: center;
                color: currentColor;
            }

            &.up :global(.svgr) {
                transform: rotate(180deg);
            }
        }
    }

    .items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
        opacity: 1;
        overflow: hidden;
        height: 330px;

        &.hidden {
            height: 0;
            opacity: 0;
        }

        .itemContainer {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;
            width: 18%;
        }
    }

    @mixin setSkillBadgeSize($size) {
        width: $size;
        height: $size;
        max-height: $size;
    }

    @include media('<=tablet') {
        .items {
            height: 220px;
            
            .itemContainer {
                $size: 60px;
                height: $size + 12px;

                :global(.SkillBadge) {
                    @include setSkillBadgeSize($size);
                    padding: 10px;
                    margin: 5px;
        
                    :global(.itemLabel) {
                        display: none;
                    }
                }
            }
        }
    }

    @include media('<=phone') {
        .items {
            height: 190px;
            
            .itemContainer {
                $size: 50px;
                height: $size + 12px;

                :global(.SkillBadge) {
                    @include setSkillBadgeSize($size);
                }
            }
        }
    }

    
}
