@import '../../styles/utils/colors';
@import '../../styles/utils/material-helpers';
@import '../../styles/utils/animations';

.ShowcaseItem {
    $backgroundColor: white;
    $imageFallback: linear-gradient(
        135deg,
        rgba($backgroundColor, 0.1) 0%,
        rgba(get-theme-color('accent'), 0.4) 100%
    );
    $border-radius: 15px;

    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 15px;
    background: $imageFallback;
    transition: transition-happy(transform);

    @include materialHover(
        $level: 1,
        $hoverLevel: 3,
        $hoverTransform: translateY(-3px)
    );

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &:hover {
        cursor: pointer;

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                to bottom,
                rgba($backgroundColor, 0.2) 0%,
                transparent 100%
            );
        }

        :global(.infoContainer) {
            border-top-color: get-theme-color('accent');
        }
    }

    :global(.imageContainer) {
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 100%;
        flex: 1;
    }

    :global(.infoContainer) {
        color: contrast-color($backgroundColor);
        background-color: $backgroundColor;
        height: 150px;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        border-top: 2px solid transparent;
    }

    :global(.title),
    :global(.subtitle) {
        color: currentColor;
    }

    :global(.title) {
        font-family: 'opensans-bold', sans-serif;
        font-size: 14px;
        line-height: 21px;
    }

    :global(.subtitle) {
        font-family: 'opensans-light', sans-serif;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 5px;
    }

    :global(.tags) {
        display: flex;
        width: 100%;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    :global(.tag) {
        $tagBackgroundColor: darken($backgroundColor, 10%);

        background: $tagBackgroundColor;
        color: contrast-color($tagBackgroundColor);
        font-family: 'opensans-regular', sans-serif;
        font-size: 10px;
        margin: 2px;
        padding: 0 12px;
        white-space: nowrap;
        border-radius: 16px;
        height: 17px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
