@import './theme-colors-map-1';
@import './theme-colors-map-2';
@import './theme-colors-map-3';

// The currently used theme colors
$theme-colors: $theme-colors-map-3;
$contrast-colors: $theme-colors-map-3-contrast;

@function theme-color($key: 'primary', $variant: 'base') {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

@function contrast-color($background: 'light', $type: 'primary') {
    $map: map-get($contrast-colors, $background);
    @return map-get($map, $type);
}

@mixin contrast-color($background: 'light', $type: 'primary') {
    color: contrast-color($background, $type);
}

:export {
    // Theme Base
    theme-primary-base: theme-color('primary', 'base');
    theme-primary-light: theme-color('primary', 'light');
    theme-primary-dark: theme-color('primary', 'dark');

    // Theme Accent
    theme-accent-base: theme-color('accent', 'base');
    theme-accent-light: theme-color('accent', 'light');
    theme-accent-dark: theme-color('accent', 'dark');

    // Theme Secondary
    theme-secondary-base: theme-color('secondary', 'base');
    theme-secondary-light: theme-color('secondary', 'light');
    theme-secondary-dark: theme-color('secondary', 'dark');

    // Theme Foreground
    theme-foreground-base: theme-color('foreground', 'base');
    theme-foreground-light: theme-color('foreground', 'light');
    theme-foreground-dark: theme-color('foreground', 'dark');

    // Theme Background
    theme-background-base: theme-color('background', 'base');
    theme-background-light: theme-color('background', 'light');
    theme-background-dark: theme-color('background', 'dark');

    // Contrast Dark
    contrast-dark-primary: contrast-color('dark', 'primary');
    contrast-dark-secondary: contrast-color('dark', 'secondary');
    contrast-dark-disabled: contrast-color('dark', 'disabled');
    contrast-dark-hint: contrast-color('dark', 'hint');

    // Contrast Light
    contrast-light-primary: contrast-color('light', 'primary');
    contrast-light-secondary: contrast-color('light', 'secondary');
    contrast-light-disabled: contrast-color('light', 'disabled');
    contrast-light-hint: contrast-color('light', 'hint');
}