.container {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    background: lightblue no-repeat top center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.navbar {
    background-color: rgba(0,0,255, 0.5);
    display: block;
    width: 100%;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    text-align: left;

    .list {
        display: flex;
        min-height: 48px;
        width: auto;
        // text-align: center;
        list-style: none outside;
        
        .item {
            margin-left: 20px;
            position: relative;
            list-style: none;
            height: 48px;
            display: inline-block;

            &:first-child {
                margin-left: 0px;
            }
        }
    }
}