@import '../../utils/colors';
@import '../../utils/mixins';
@import '../../utils/animations';
@import '../../utils/media-queries';

@mixin aboutSectionStyles(
    $backgroundColor: get-theme-color('primary'),
    $descriptionColor:
        contrast-color(
            $color: $backgroundColor,
            $dark: get-contrast-color('light', 'secondary'),
            $light: get-contrast-color('dark', 'secondary')
        )
) {
    .Section#about {
        background: $backgroundColor;
        padding-top: 96px;
        padding-bottom: 66px;
        overflow: hidden;

        h1 {
            font: 18px/24px 'opensans-bold', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-bottom: 6px;
            color: contrast-color($backgroundColor);
        }

        h2 {
            font: 16px/30px 'opensans-bold', sans-serif;
            color: contrast-color($backgroundColor);
            margin-bottom: 12px;
        }

        p {
            line-height: 25px;
            color: $descriptionColor;
        }

        .profile-pic {
            position: relative;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            border-width: thick;
            border-style: solid;
            border-color: get-theme-color('accent');
        }

        .contact-details {
            width: 41.66667%;
        }

        .action-links {
            display: flex;
            align-items: center;
            padding-top: 6px;
            float: none;

            .button {
                margin-top: 20px;
                margin-right: 5px;
                margin-left: 5px;

                &.button-secondary {
                    $color: contrast-color($backgroundColor);
                    color: $color;
                    border-color: $color;

                    &:hover {
                        color: contrast-color($color);
                        border-color: contrast-color($color);
                        background-color: $color;
                    }
                }
            }
        }

        .main-col {
            padding-right: 5%;
        }

        @include media('<=laptop') {
            .profile-pic {
                width: 140px;
                height: 140px;
                margin-left: 12px;
            }
        }

        @include media('<=tablet') {
            .profile-pic {
                float: right;
            }

            .action-links {
                // flex-direction: column;
                flex-wrap: wrap;
                .button {
                    width: 100%;
                    flex: 1;
                }
            }

            .main-col {
                padding-right: 30px;
            }
        }

        @include media('<=phone') {
            .profile-pic {
                width: 100px;
                height: 100px;
            }
        }
    }
}
