@import '../../utils/colors';
@import '../../utils/material-helpers';
@import '../../utils/animations';
@import '../../utils/media-queries';

.Section#about {
    background: get-theme-color('background');
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;

    h2 {
        font: 22px/30px 'opensans-bold', sans-serif;
        color: get-contrast-color('dark');
        margin-bottom: 12px;
    }

    p {
        line-height: 25px;
        color: rgba(get-contrast-color('dark', 'secondary'), 0.35);
    }

    .profile-pic {
        position: relative;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border-width: thick;
        border-style: solid;
        border-color: get-theme-color('accent');
    }

    .contact-details {
        width: 41.66667%;
    }

    .download {
        width: 58.33333%;
        padding-top: 6px;

        .button {
            margin-top: 6px;
            color: get-contrast-color('dark');
            background: get-theme-color('accent', 'dark');
            transition: all 0.3s $timing-function-happy;

            @include materialHover();

            &:hover {
                background: get-theme-color('accent');
            }
        }
    }

    .main-col {
        padding-right: 5%;
    }

    @include media('<=laptop') {
        .profile-pic {
            width: 140px;
            height: 140px;
            margin-left: 12px;
        }

        .contact-details,
        .download {
            width: 50%;
        }
    }

    @include media('<=tablet') {
        .profile-pic {
            float: right;
        }

        .download .button {
            width: 100%;
            text-align: center;
            padding: 15px 20px;
        }

        .main-col {
            padding-right: 30px;
        }
    }

    @include media('<=phone') {
        .profile-pic {
            width: 100px;
            height: 100px;
        }
    }
}
