@import '../../utils/colors';
@import '../../utils/media-queries';

@mixin heroStyles(
    $backgroundColor: $overlayBaseBackgroundColor,
    $overlayBaseBackgroundColor: get-theme-color('primary'),
    $overlayBackground: null
) {
    @if($overlayBackground == null) {
        $overlayBackground: radial-gradient(
            ellipse at 80% 50%,
            transparent,
            $overlayBaseBackgroundColor 70%,
            $overlayBaseBackgroundColor 100%
        );
    }

    .Hero.page-hero {
        background-color: $backgroundColor;

        .overlay {
            background: $overlayBackground;
        }
        .banner-text {
            width: 100%;
            h1 {
                font: 80px/1.1em 'opensans-bold', sans-serif;
                color: contrast-color($backgroundColor);
                letter-spacing: -2px;
                margin: 0 auto 18px auto;
            }
            h2 {
                font: 30px/1.5em 'opensans-bold', sans-serif;
                color: contrast-color($backgroundColor);
                letter-spacing: -2px;
                margin: 0 auto 18px auto;
            }
            h3 {
                font: 18px/1.9em 'librebaskerville-regular', serif;
                color: contrast-color-by-keys($backgroundColor, 'secondary');
                margin: 0 auto;
                width: 70%;
                span,
                a {
                    color: #fff;
                }
            }
            a,
            a:visited {
                text-decoration: underline;
            }
            @include media('<=desktop') {
                h1 {
                    font-size: 80px;
                    letter-spacing: -1px;
                    margin-bottom: 12px;
                }
            }
            @include media('<=laptop') {
                h1 {
                    font-size: 78px;
                }
                h3 {
                    font-size: 17px;
                    width: 80%;
                }
            }
            @include media('<=tablet') {
                h1 {
                    font-size: 68px;
                }
                h3 {
                    font-size: 16px;
                    width: 85%;
                }
            }
            @include media('<=phone') {
                h1 {
                    font-size: 40px;
                }
                h3 {
                    font-size: 14px;
                    width: 90%;
                }
            }
        }
    }
}
