@import '../../utils/colors';
@import '../../utils/media-queries';

@mixin portfolioSectionStyles(
    $backgroundColor: get-theme-color('secondary'),
    $background: null,
    $showcaseBackgroundColor: get-theme-color('foreground')
) {
    .Section#portfolio {
        background: $background;
        background-color: $backgroundColor;
        padding-top: 90px;
        padding-bottom: 60px;

        h1 {
            font: 18px/24px 'opensans-semibold', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            margin-bottom: 48px;
            color: contrast-color($backgroundColor);
        }

        h3 {
            font: 20px/24px 'opensans-bold', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            margin-bottom: 30px;
        }

        .content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .ShowcaseItem {
            .infoContainer {
                @include contrasted($showcaseBackgroundColor);
            }

            .tag {
                $tagBackgroundColor: contrast-color(
                    $color: $showcaseBackgroundColor,
                    $dark: darken($showcaseBackgroundColor, 10%),
                    $light: lighten($showcaseBackgroundColor, 10%)
                );

                @include contrasted($tagBackgroundColor);
            }
        }
    }
}
