@import '../../utils/colors';
@import '../../utils/mixins';

/* ------------------------------------------------------------------ */
/* General Styles
/* ------------------------------------------------------------------ */

body {
    background: get-theme-color('background');
}

hr {
   border-width: 1px 0 0;
   clear: both;
   height: 0;
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: rgba(get-theme-color('background', 'light'), 0.5);
}

/* ------------------------------------------------------------------ */
/* Page
/* ------------------------------------------------------------------ */
@import './hero';
@include heroStyles(
    $overlayBaseBackgroundColor: transparent,
    $overlayBackground: transparent
);

@import './about-section';
@include aboutSectionStyles(
    $backgroundColor: transparent,
    $contentBackgroundColor: get-theme-color('foreground')
);

@import './portfolio-section';
@include portfolioSectionStyles(
    $backgroundColor: transparent,
    $background: transparent,
);

@import './resume-section';
@include resumeSectionStyles(
    $backgroundColor: transparent,
    $contentBackgroundColor: get-theme-color('foreground')
);

