<div class="SkillBadge-module--SkillBadge--3Tj-O SkillBadge">
    <div style="position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: 0;
        width: 80%;
        font-size: 10px;
        height: 21px;
        background: transparent;
        border-bottom: solid green 1px;
        padding-top: 3px;
        border-radius: 15px 15px 0px 0px;"
    >
        <div style="color: green;font-weight: bold;">
            Exp
        </div>

        <div>-</div>

        <div style="font-weight: bold;">
            7y
        </div>
    </div>

    <div class="SkillBadge-module--logoContainer--2LZpC" style="margin-top: 13px">
        <img
            class="SkillBadge-module--logo--1rUrQ"
            src="/static/redux-logo-38c00f58429d46dda9d0eb406ee24e5c.png"></div><div
        class="SkillBadge-module--itemLabel--1ywtG itemLabel">Redux</div>
</div>