$theme-colors: (
    // Brand color
    'primary': (
        'base': #2B2B2B,
        'light': #dbdbdb,
        'dark': #1d1d1d
    ),
    // Secondary color
    'accent': (
        'base': #11ABB0,
        'light': #13bec4,
        'dark': #0e8f94
    ),
    // Primary objects with darker colors
    'foreground': (
        'base': #393939,
        'light': #6e6e6e,
        'dark': #111
    ),
    // Lighter objects or section backgrounds
    'background': (
        'base': #f8f5f5,
        'light': #fff,
        'dark': #ddd
    )
);

@function theme-color($key: 'primary', $variant: 'base') {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

$contrast-colors: (
  'dark': (
    'primary': rgb(240, 239, 239),
    'secondary': rgba(255, 255, 255, .70),
    'disabled': rgba(255, 255, 255, .5),
    'hint': rgba(255, 255, 255, .12)
  ),
  'light': (
    'primary': rgba(0, 0, 0, .87),
    'secondary': rgba(0, 0, 0, .54),
    'disabled': rgba(0, 0, 0, .38),
    'hint': rgba(0, 0, 0, .12)
  ),
);

@function contrastColor($background: 'light', $type: 'primary') {
    $map: map-get($contrast-colors, $background);
    @return map-get($map, $type);
}
  
@mixin contrastColor($background: 'light', $type: 'primary') {
    color: contrastColor($background, $type);
}

:export {
    theme-primary-base: theme-color('primary', 'base');
    theme-primary-light: theme-color('primary', 'light');
    theme-primary-dark: theme-color('primary', 'dark');
    theme-accent-base: theme-color('accent', 'base');
    theme-accent-light: theme-color('accent', 'light');
    theme-accent-dark: theme-color('accent', 'dark');
    theme-foreground-base: theme-color('foreground', 'base');
    theme-foreground-light: theme-color('foreground', 'light');
    theme-foreground-dark: theme-color('foreground', 'dark');
    theme-background-base: theme-color('background', 'base');
    theme-background-light: theme-color('background', 'light');
    theme-background-dark: theme-color('background', 'dark');
    contrast-dark-primary: contrastColor('dark', 'primary');
    contrast-dark-secondary: contrastColor('dark', 'secondary');
    contrast-dark-disabled: contrastColor('dark', 'disabled');
    contrast-dark-hint: contrastColor('dark', 'hint');
    contrast-light-primary: contrastColor('light', 'primary');
    contrast-light-secondary: contrastColor('light', 'secondary');
    contrast-light-disabled: contrastColor('light', 'disabled');
    contrast-light-hint: contrastColor('light', 'hint');
}
