@import '../../styles/utils/colors';
@import '../../styles/utils/media-queries';

$contentBackgroundColor: get-theme-color('foreground');
$imageFallback: linear-gradient(
        135deg,
        rgba(get-theme-color('primary'), 0.9) 0%,
        rgba(get-theme-color('accent'), 0.9) 100%
    );

:local(.ShowcaseModal) {

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    background: $imageFallback;

    .image-container {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
        flex: 1;
    }

    .content-container {
        background: $contentBackgroundColor;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .title {
        margin-bottom: 5px;
        line-height: 26px;
        color: contrast-color-by-keys($contentBackgroundColor)
    }

    .subtitle {
        line-height: 20px;
        margin-bottom: 20px;
    }

    .subtitle,
    .description {
        color: contrast-color-by-keys($contentBackgroundColor, 'secondary')
    }

    .authors-container {
        display: flex;
        margin-bottom: 5px;
        line-height: 20px;
        color: contrast-color($contentBackgroundColor);
        label {
            font-weight: bold;
        }
    }

    .authors {
        margin-left: 10px;
    }

    .author {
        font-family: 'opensans-light', sans-serif;

        &:not(:first-child) {
            margin-left: 5px;
        }

        &:not(:last-child):after {
            content: ',';
        }
    }

    .tags {
        display: flex;
        width: 100%;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .Tag {
        $tagBackgroundColor: darken($contentBackgroundColor, 10%);
        @include contrasted($tagBackgroundColor);
    }

    .links-container {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 20px;
        width: 100%;
        background: $contentBackgroundColor;
        border-top: 1px solid contrast-color-by-keys($contentBackgroundColor, 'hint');

        a {
            margin: 5px;
            height: min-content;
        }

        .link-source {
            $color: contrast-color($contentBackgroundColor);
            color: $color;

            &:hover {
                background: $color;
                color: contrast-color($color);
            }
        }

        .google-play-badge {
            padding-top: 10px;

            img {
                width: 150px;
            }
        }
    }
}


// Media queries
:local(.ShowcaseModal) {
    @include media('<=phone') {
        .links-container {
            flex-direction: column;
            align-items: center;

            a {
                width: 100%;
                text-align: center;
            }
        }
    }
}

// Parent overrides
.modalOverlay.ShowcaseModal__overlay {

    @include media('<=phone') {
        align-items: flex-start;
    }

    .modalContent {
        background: transparent;
    }
}