@import '../../styles/utils/colors';

$logoSize: 80px;
$backgroundColor: get-theme-color('foreground');
$color: contrast-color($backgroundColor);
$metaDataHeight: 35px;
$paddingX: 40px;
$paddingY: 10px;

:local(.SkillModal) {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $paddingY $paddingX $metaDataHeight $paddingX;


    .logoContainer {
        display: flex;
    }

    .logo {
        height: $logoSize;
        width: $logoSize;
        min-height: $logoSize;
        min-width: $logoSize;
    }

    .name {
        margin-top: 5px;
        font-family: 'opensans-semibold', sans-serif;
        font-size: 30px;
        color: $color;
    }

    .description {
        color: contrast-color-by-keys($backgroundColor, 'secondary')
    }

    .metadata {
        height: $metaDataHeight;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 2px solid;
        padding: 10px;
        color: contrast-color-by-keys($backgroundColor, 'secondary')
    }

    .skill-level {
        flex: 1;
        text-align: right;
        font-weight: bold;
    }

    .bullet {
        margin: 0 20px;
        color: currentColor;
    }

    .years-of-experience {
        flex: 1;
        text-align: left;
        color: currentColor;
    }
}