@import '../../../styles/utils/colors';
@import '../../../styles/utils/media-queries';

$contentBackgroundColor: get-theme-color('foreground');
$imageFallback: linear-gradient(
  135deg,
  rgba(get-theme-color('primary'), 0.9) 0%,
  rgba(get-theme-color('accent'), 0.9) 100%
);

.ShowcaseModal {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  background: $imageFallback;

  :global(.image-container) {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 300px;
  }

  :global(.content-container) {
      background: $contentBackgroundColor;
      display: flex;
      flex-direction: column;
      padding: 20px;
  }

  :global(.title) {
      margin-bottom: 5px;
      line-height: 26px;
      color: contrast-color-by-keys($contentBackgroundColor)
  }

  :global(.subtitle) {
      line-height: 20px;
      margin-bottom: 20px;
  }

  :global(.subtitle),
  :global(.description) {
      color: contrast-color-by-keys($contentBackgroundColor, 'secondary')
  }

  :global(.authors-container) {
      display: flex;
      margin-bottom: 5px;
      line-height: 20px;
      color: contrast-color($contentBackgroundColor);
      :global(.authors-label) {
          font-weight: bold;
      }
  }

  :global(.authors) {
      margin-left: 10px;
  }

  :global(.author) {
      font-family: 'opensans-light', sans-serif;

      &:not(:first-child) {
          margin-left: 5px;
      }

      &:not(:last-child):after {
          content: ',';
      }
  }

  :global(.tags) {
      display: flex;
      width: 100%;
      align-items: flex-start;
      flex-wrap: wrap;
  }

  :global(.Tag) {
      $tagBackgroundColor: darken($contentBackgroundColor, 10%);
      @include contrasted($tagBackgroundColor);
  }

  :global(.links-container) {
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px 20px;
      width: 100%;
      background: $contentBackgroundColor;
      border-top: 1px solid contrast-color-by-keys($contentBackgroundColor, 'hint');

      a {
          margin: 5px;
          height: min-content;
      }

      :global(.link-source) {
          $color: contrast-color($contentBackgroundColor);
          color: $color;

          &:hover {
              background: $color;
              color: contrast-color($color);
          }
      }

      :global(.google-play-badge) {
          padding-top: 10px;

          img {
              width: 150px;
          }
      }
  }
}
