@import './theme-color-map-1';
@import './theme-color-map-2';
@import './theme-color-map-3';
@import './theme-color-map-4';
@import './theme-color-map-brightAccent';
@import './theme-color-map-coolAndFresh';
@import './theme-color-map-sleekFuturistic';

$current-theme-color-map: $theme-color-map-sleekFuturistic;
$current-theme-color-map-contrast: $theme-color-map-sleekFuturistic-contrast;