@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/media-queries';

$height: 48px;

.Header {
    background-color: theme-color('primary', 'dark');
    text-align: center;
    height: $height;
}
