@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';

$height: 48px;

.Header {
    background-color: theme-color();
    text-align: center;
    height: $height;

    :global(#nav-wrap) {
        font: 12px 'opensans-bold', sans-serif;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        margin: 0 auto;
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
        min-height: $height;
        
        ul, 
        li, 
        a {
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
        } 

        .mobileBtn {
            display: none;
        }

        .navItems {
            min-height: $height;
            width: auto;
            /* center align the menu */
            text-align: center;
            background-color: rgba(theme-color('primary', 'dark'), 0.9);

            .navItem {
                position: relative;
                list-style: none;
                height: $height;
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 8px 13px;
                    line-height: 32px;
                    text-decoration: none;
                    text-align: left;
                    color: #fff;
                    transition: color .2s ease-in-out;

                    &:active {
                        background-color: transparent !important;
                    }
                }

                &:global(.current) a {
                    color: theme-color('accent');
                }
            }
        }
    }
}