@import '../../styles/utils/colors';

.container {
    background-color: theme-color();
    background-image: url(../../assets/images/header-background2.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 500px;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(theme-color(), 0.5);
    text-align: center;
    overflow: hidden;
    position: relative;

    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    :global(.banner) {
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        width: 85%;
        padding-bottom: 30px;
        text-align: center;

        :global(.banner-text) {
            width: 100%;

            h1 {
                font: 90px/1.1em 'opensans-bold', sans-serif;
                color: #fff;
                letter-spacing: -2px;
                margin: 0 auto 18px auto;
                text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
            }

            h2 {
                font: 30px/1.5em 'opensans-bold', sans-serif;
                color: theme-color('accent');
                letter-spacing: -2px;
                margin: 0 auto 18px auto;
                text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
            }

            h3 {
                font: 18px/1.9em 'librebaskerville-regular', serif;
                color: #A8A8A8;
                margin: 0 auto;
                width: 70%;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);

                span, 
                a {
                    color: #fff;
                }
            }

            hr {
                width: 60%;
                margin: 18px auto 24px auto;
                border-color: #2F2D2E;
                border-color: rgba(150, 150, 150, .1);
            }

            a, 
            a:visited {
                text-decoration: underline;
            }
        }
    }

    :global(.scrolldown) {
        a {
            position: absolute;
            bottom: 30px;
            left: 50%;
            margin-left: -29px;
            color: #fff;
            display: block;
            height: 42px;
            width: 42px;
            font-size: 42px;
            line-height: 42px;
            color: #fff;
            border-radius: 100%;
            transition: all .3s ease-in-out;

            &:hover {
                color: theme-color('accent');
            }
        }
    }

    :global(#nav-wrap) {
        font: 12px 'opensans-bold', sans-serif;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        margin: 0 auto;
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
        
        ul, 
        li, 
        a {
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
        } 

        .mobileBtn {
            display: none;
        }

        .navItems {
            min-height: 48px;
            width: auto;

            /* center align the menu */
            text-align: center;

            .navItem {
                position: relative;
                list-style: none;
                height: 48px;
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 8px 13px;
                    line-height: 32px;
                    text-decoration: none;
                    text-align: left;
                    color: #fff;
                    transition: color .2s ease-in-out;

                    &:active {
                        background-color: transparent !important;
                    }
                }

                &:global(.current) a {
                    color: theme-color('accent');
                }
            }
        }
    }
}