@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/media-queries';

.Hero {
    background-color: get-theme-color('primary');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 100px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 100ms height ease-in-out;

    .children {
        width: 85%;
        z-index: 2;
    }

    :global(.overlay) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(get-theme-color('primary'), 0.5);
    }

    :global(.scrolldown) {
        $size: 42px;

        @include svgrCircleContainer($size);

        position: absolute;
        bottom: ($size / 2);
        z-index: 2;

        @include media('<=tablet') {
            display: none;
        }
    }
}
