@import '../../styles/utils/colors';
@import '../../styles/utils/media-queries';

// Base styles
:local(.SkillLevelBanner) {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    &,
    .item,
    .content-container {
        display: flex;
    }

    &,
    .item {
        justify-content: center;
        align-items: center;
    }

    .item {
        flex: 1;
        font-weight: bold;
    }

    .skill-level-text {
        justify-content: flex-end;
    }

    .bullet {
        margin: 0 10px;
    }

    .years-of-experience {
        justify-content: flex-start;

        &,
        .text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .skill-level-text,
    .years-of-experience {
        min-width: 130px;
    }
}

// Media queries
:local(.SkillLevelBanner) {
    @include media('<=phone') {
        // width: 100%;

        .skill-level-text,
        .years-of-experience {
            min-width: unset;
        }

        .bullet {
            margin: 0;
        }
    }
}

// Border position
:local(.SkillLevelBanner) {
    $border-size: 2px;

    &.border {
        &-top {
            border-top: $border-size solid;
        }

        &-bottom {
            border-bottom: $border-size solid;
        }
    }
}

// Skill level colors
:local(.SkillLevelBanner) {
    @mixin setSkillLevelColor($color) {
        border-color: $color;
        background-color: rgba($color, 0.1);

        .skill-level-text {
            color: $color;
        }
    }

    &.skill-level {
        &-novice {
            @include setSkillLevelColor($skill-level-color-novice);
        }

        &-proficient {
            @include setSkillLevelColor($skill-level-color-proficient);
        }

        &-expert {
            @include setSkillLevelColor($skill-level-color-expert);
        }
    }
}

