@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/media-queries';

$backgroundColor: get-theme-color('primary', 'dark');
$color: contrast-color-by-keys($backgroundColor, 'secondary');

.Footer {
    background: $backgroundColor;
    padding: 48px 0;
    color: $color;
    font-size: 14px;
    text-align: center;
    position: relative;

    .contentContainer {
        .socialLinksContainer {
            display: flex;
            justify-content: center;
        }
    }

    .goToTop {
        a {
            @mixin floatingSvgrCircleContainer($size) {
                @include svgrCircleContainer($size: $size);

                margin-left: -($size / 2);
                top: -($size / 2);
                position: absolute;
            }

            @include floatingSvgrCircleContainer(42px);

            @include media('<=tablet') {
                @include floatingSvgrCircleContainer(50px);
            }

            :global(.svgr) {
                transform: rotate(180deg);
            }
        }
    }

    :global(.icon-licence) {
        color: $color;
        font-family: 'opensans-light', sans-serif;
    }
}