@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/media-queries';

$color: theme-color('background', 'light');

.Footer {
    background: theme-color('background');
    padding: 48px 0;
    color: $color;
    font-size: 14px;
    text-align: center;
    position: relative;

    :global(.SocialLinks .socialLink) {
        color: $color;

        &:hover {
            color: theme-color('accent')
        }
    }

    
    .goToTop {
        a {
            @mixin floatingSvgrCircleContainer($size) {
                @include svgrCircleContainer(
                    $size: $size,
                    $backgroundColor: $color,
                    $svgColor: theme-color('foreground', 'light')
                );

                margin-left: -($size / 2);
                top: -($size / 2);
                position: absolute;
            }

            @include floatingSvgrCircleContainer(42px);

            @include media('<=tablet') {
                @include floatingSvgrCircleContainer(50px);
            }

            :global(.svgr) {
                transform: rotate(180deg);
            }
        }
    }
}