@import '../../styles/utils/media-queries';
@import '../../styles/utils/colors';

$iconSize: 40px;
$iconMarginRight: 15px;

.Experience {
    :global(.titleContainer),
    :global(.detailsContainer) {
        padding: 0 30% 0 20px;
    }

    :global(.titleContainer) {
        display: flex;
        align-items: center;
    }

    :global(.iconContainer) {
        font-size: $iconSize;
        width: 1em;
        min-width: 1em;
        height: auto;
        margin-right: $iconMarginRight;

        img {
            border-radius: 50%;
        }
    }

    :global(.title) {
        margin: 0;
    }

    :global(.detailsContainer) {
        margin-left: $iconSize + $iconMarginRight;
    }

    :global(.info) {
        line-height: 24px;
        color: get-contrast-color('light', 'secondary');
        margin-top: -5px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    :global(.subtitle) {
        font-family: 'librebaskerville-italic', serif;
        font-size: 16px;
    }

    :global(.dateContainer) {
        color: get-contrast-color('light', 'disabled');
        font-family: 'opensans-regular', sans-serif;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    :global(.date) {
        white-space: nowrap;
    }

    :global(.description) {
        p {
            margin-bottom: 10px;
        }
    }
}
